<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8">
    <div id="taskspanel" class="panel panel-default">
      <div class="pannel-heading">
         <h3 class="panel.title">Tasksmanager</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <app-tasks></app-tasks>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <app-tasks></app-tasks>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
